.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  position: fixed;
  width: 100%;
  height: 90px;
  z-index: 10;
}

.header-bg{
  background-color: rgba(0, 0, 0, 0.85);
  transition: 0.5s;
}

.nav-links{
  display: flex;
}

.nav-links li{
  padding: 0 1rem;
  list-style: none;
}

.nav-links li a{
  font-size: 20px;
}

.hamburger{
  display: none;
}

@media screen and (max-width: 1040px) {
  .nav-links{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.9);
    position: absolute;
    top: 0;
    left: -100%;
    z-index: -3;
    transition: 0.3s;
  }

  .nav-links.active{
      left: 0;
  }

  .nav-links li{
    padding: 1rem 0;

  }

  .nav-links li a{
    font-size: 2rem;
  }
  .hamburger{
      display: initial;
    }
}