.afrikana{
    width: 100%;
    padding: 6rem 1rem;
    background-color: black;

}

.card-container-1{
    margin: auto;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 10px;
}

.card{
    border: 1px solid white;
    color: white;
    text-align: center;
    padding: 1rem;
}

.card:hover{
    background-color: #141414;
}

.card h3{
    padding: 1rem;
}

.bar{
    border-bottom: 2px solid #eee;
    width: 70%;
    margin: 1.5rem auto;
    display: block;
}

.btn-2{
    display: block;
    width: 40%;
    margin: 2rem auto;
    background-color: transparent;
    color: white;
    border: 1px solid white;
    border-radius: 10px;
    cursor: pointer;
    padding: 2px;
}

.btn-2:hover{
    background-color: transparent;
    border: 2px solid brown;
    color: brown;
      transition: .1s;
  }

.card p{
    font-size: 1.4rem;
    padding: 10px 0;
}

.Tz{
    width: 220px;
    height: 220px;

}

h5{
    text-align: center;
    margin-top: 60px;
    word-spacing: 10px;
    font-size: 40px;
    color: white;
}

@media screen and (max-width: 740px) {
    .card-container-1{
        max-width: 90%;
        margin: auto;
        grid-template-columns: 1fr;
    }
}